<!DOCTYPE html>
<html lang="en" ng-app="RSAI">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- angular animate -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="index.js"></script>
    <title>Config page</title>
</head>
<body ng-controller="indexController">
	<h1>Configuration page</h1>
	<input type="button" ng-click="btnClick()">Test button</input>
</body>